# Default ignored files
/shelf/
/workspace.xml	
+2023-11-23 13:45:56.666 [main] DEBUG ua.foxminded.skarb.utils.BaseTest - We've just greeted the user!
+2023-11-23 13:44:03.284 [main] DEBUG ua.foxminded.skarb.utils.BaseTest - We've just greeted the user!

